@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-body {
  width: 700px;
  min-height: 200px;
  border-radius: 10px;
  background: #265073;
}

.card-body h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  color: #f1fada;
}

.form {
  display: flex;
}

.form select,
.editMode select {
  margin: 3px;
  border: 1px solid #337357;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.form-control {
  border-color: #337357;
}

.addBtn,
.clearBtn,
.saveBtn {
  margin: 5px;
  background-color: #45b5b5;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.clearBtn {
  margin-left: 55px;
}

.addBtn:hover,
.clearBtn:hover,
.saveBtn:hover {
  background-color: #4bb889;
  transition: 0.3s;
}

.card-body h6 {
  font-weight: 300;
  text-align: center;
}

.deletebtn {
  color: rgb(214, 63, 63);
  border-radius: 5px;
  border: 1px solid rgb(214, 63, 63);
  margin-left: 5px;
}
.deletebtn:hover {
  background-color: rgb(233, 136, 136);
}

.sort,
.editBtn {
  border-radius: 5px;
  background-color: #2d9596;
  color: #ffffff;
  border: 1px solid #2d9596;
  padding: 2px 5px;
  margin: 5px;
  font-family: "Poppins", sans-serif;
}

.sorts {
  margin-left: 150px;
}

.sort:hover,
.editBtn:hover {
  background-color: #337357;
  transition: 0.3s;
}

.todo-nav {
  margin-top: 10px;
}

.todoList {
  margin: 10px;
}

.todoList .todoItem {
  margin: 8px 25px 25px;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 8px;
  background: #d7d7d7;
}

.todoItem span {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
}

div.checker,
div.checker input,
div.checker span {
  width: 23px;
  height: 23px;
}

div.button,
div.button *,
div.checker,
div.checker *,
div.radio,
div.radio *,
div.selector,
div.selector *,
div.uploader,
div.uploader * {
  margin: 0;
  padding: 0;
}

.nav-item {
  text-decoration: none;
}

.footer-cont {
  font-weight: bold;
  color: #265073;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  font-family: "Poppins", sans-serif;
}
